@font-face {
  font-family: "Lostar";
  src: url("assets/Lostar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PP Neue Montreal";
  overflow-x: hidden;
  background-color: beige;
}

a,
p {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  & a {
    color: white;
  }
}

section {
  width: 100%;
  padding: 2em;
}

.row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/5;
}

.hero {
  position: relative;
  text-align: center;
  background: url("assets/bg.jpg");
  height: 80svh;
  & p {
    font-size: xx-large;
  }
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero h1,
.hero p {
  position: relative;
  z-index: 1;
  color: white;
}

.hero h1 {
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 8.75vw;
  font-weight: 500;
  letter-spacing: -0.02vw;
  font-family: "Lostar";
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.info p {
  width: 25%;
  font-size: 1.2rem;
}

.hero-imgs {
  margin-top: 5em;
}

.clients {
  display: flex;
}

.clients-list {
  flex: 1;
}

.clients-imgs {
  margin-top: 4em;
}

.clients-imgs .row {
  height: 700px;
}

.product-filters {
  padding-bottom: 1em;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  & .col p {
    cursor: pointer;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about {
  display: flex;
  & p {
    font-size: medium;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  gap: 2rem;
}

footer p {
  font-size: xx-large;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.animate {
  color: red;
  transform: translateY(-10px);
  transition: all 200ms ease;
}

@media screen and (max-width: 480px) {
  .hero {
    height: 100svh;
    & h1 {
      margin-top: 20rem;
      font-size: xx-large;
    }
    & p {
      font-size: small;
      width: 100%;
    }
  }
  .info {
    flex-direction: column;
    & p {
      text-align: start;
      width: 100%;
      font-size: small;
    }
  }
  .about {
    flex-direction: column;
    gap: 1rem;
  }
  footer p {
    font-size: medium;
  }
  .product-filters {
    overflow: scroll;
  }
  .products .row {
    flex-direction: column;
  }
  .products .row .hidden {
    display: none;
  }
  .products .row:nth-child(3),
  .products .row:nth-child(4) {
    display: none;
  }
}
.img-1 .mask,
.img-6 .mask,
.img-12 .mask {
  background: url(./assets/img3.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-2 .mask,
.img-7 .mask,
.img-14 .mask {
  background: url(./assets/img4.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-3 .mask,
.img-15 .mask {
  background: url(./assets/img7.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-4 .mask,
.img-10 .mask {
  background: url(./assets/img1.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-5 .mask,
.img-11 .mask,
.img-16 .mask {
  background: url(./assets/img2.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.img-8 .mask,
.img-17 .mask {
  background: url(./assets/img5.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-9 .mask,
.img-13 .mask {
  background: url(./assets/img6.jpg) no-repeat 50% 50%;
  background-size: cover;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
